.App {
  background-color: #141414;
}
.dropdown-menu.show {
  position: absolute;
  left: -107px;
  background-color: #343a40;
}

.dropdown-item:hover {
  color: #000 !important;
}

/* .ImgContainer {
  width: 313px;
  height: 176px;
  background-color: red;
  padding: 29px;
  object-fit: contain;
} */

.ImgContainer {
  width: 100%;
  height: 0;
  padding-bottom: 50%;
  position: relative;
}

.ImgCard {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-control-next,
.carousel-control-prev {
  background-color: black;
  position: absolute;
  top: 40px;
  width: 45px;
}
